.checkbox {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    vertical-align: top;

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked + .checkbox__icon {
            //background-color: $dark-gold-color;
        }
    }

    &__icon {
        align-self: flex-start;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        width: 17px;
        min-width: 17px;
        height: 17px;
        background-color: #fff;
        border: 5px solid #fff;
        //outline: 1px solid $dark-gold-color;
        margin: 0 10px 0 0;
    }

    &:focus-within,
    &:hover {
        .checkbox__icon {
            //outline: 1px solid $gold-color;
        }

        input {
            &:checked + .checkbox__icon {
                background-color: $gold-color;
            }
        }
    }
}