.input-label {
    display: block;

    &.error {
        .input-label__text {
            color: $error-color;
        }

        .input,
        .textarea {
            border-color: $error-color;
            color: $error-color;

            &::placeholder {
                color: $error-color;
                opacity: 1;
            }

            &::-ms-input-placeholder {
                color: $error-color;
                opacity: 1;
            }
        }
    }

    &.valid {
        .input-label__text {
            color: $valid-color;
        }

        .input,
        .textarea {
            border-color: $valid-color;
            color: $valid-color;
        }
    }

    &__text {
        font-size: 12px;
        font-weight: 500;
        padding-top: 10px;
        padding-left: 12px;
        padding-right: 12px;
    }
}

.input,
.textarea {
    border: 2px solid transparent;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(#000, 0.25);
    color: $text-color;
    font-size: 14px;
    padding: 0 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 100%;

    &:hover {
        box-shadow: 0 0 5px 0 rgba(#000, 0.25), 0 0 5px 0 $orange-color;
    }

    &:focus {
        border-color: $orange-color;
        box-shadow: 0 0 5px 0 rgba(#000, 0.25);
    }

    &::placeholder {
        color: rgba(#000, 0.5);
        opacity: 1;
    }

    &::-ms-input-placeholder {
        color: rgba(#000, 0.5);
        opacity: 1;
    }

    &:focus::placeholder {
        opacity: 1;
    }

    &:focus::-ms-input-placeholder {
        opacity: 1;
    }

    &.error {
        border-color: $error-color;
        color: $error-color;

        &:hover {
            box-shadow: 0 0 5px 0 rgba(#000, 0.25);
        }

        &:focus {
            border-color: $error-color;
            box-shadow: 0 0 5px 0 rgba(#000, 0.25);
            color: $error-color;

            &::placeholder {
                color: $error-color;
            }

            &::-ms-input-placeholder {
                color: $error-color;
            }
        }

        &::placeholder {
            color: $error-color;
            opacity: 1;
        }

        &::-ms-input-placeholder {
            color: $error-color;
            opacity: 1;
        }
    }

    &.disabled,
    &:disabled {
        border-color: rgba($text-color, 0.5);
        cursor: default;
        pointer-events: none;

        &:hover {
            border-color: rgba($text-color, 0.5);
        }

        &::placeholder {
            color: rgba($text-color, 0.5);
        }

        &::-ms-input-placeholder {
            color: rgba($text-color, 0.5);
        }
    }
}

input,
textarea {
    &:focus {
        outline: 0;
    }
}

.input {
    height: 40px;
}

.textarea {
    height: 170px;
    padding: 10px;
    resize: none;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}