select {
    appearance: none;
    background-color: transparent;
    border: none;
    height: 38px;
    padding: 0 44px 0 14px;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: inherit;

    &::-ms-expand {
        display: none;
    }

    &:focus {
        outline: none;
    }
}

.select {
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(#000, 0.25);
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: block;
    height: 40px;
    line-height: 1.5;
    position: relative;
    width: 100%;

    &.disabled {
        cursor: default;
        opacity: 0.5;
    }

    &::after {
        background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7L8 10L11 7' stroke='%239E9E9E' stroke-width='1.2'/%3E%3C/svg%3E%0A") no-repeat 50% 50% transparent;
        content: '';
        height: 100%;
        left: auto;
        position: absolute;
        pointer-events: none;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
    }
}