$sm: 768px;
$md: 1024px;
$hd: 1200px;
$lg: 1350px;
$xlg: 1440px;
$fhd: 1900px;
$text-color: #391D1E;
$orange-color: #FF9900;
$gold-color: #FCEA00;
$error-color: #BF2A2A;
$valid-color: #468558;
$container-max-width: 1280px;
$container-horizontal-padding-mobile: 10px;
$container-horizontal-padding: 20px;