<footer class="footer">
    <div class="footer__top">
        <div class="footer-logo">
            <img src="images/logo.svg" alt="">
            <div class="footer-logo__title">wintel tour</div>
            <div class="footer-logo__text">туристична компанія</div>
        </div>

        <div class="footer__menu">
            <ul class="footer-menu">
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Про нас</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Новини</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Корисна інформація</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Сплатити</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Контакти</a></li>
            </ul>
            <ul class="footer-menu">
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Belavia</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">МАУ</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Turkish Airlines</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Lufthansa</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Windrose</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">LOT</a></li>
            </ul>
            <ul class="footer-menu">
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Лоукосты</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Ryanair</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Wizzair</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">SkyUp</a></li>
            </ul>
        </div>

        <div class="footer__contacts">
            <p>Київ, 01135 Україна<br> ул. Павловская, 29</p>
            <p><a href="tel:+380500644333">+38 050 06 44 333</a><br> <a href="mailto:info@winteltour.com.ua">info@winteltour.com.ua</a></p>
            <div class="footer__socials">
                <a class="footer__social" href="#" title="Telegram">
                    <svg aria-hidden="true">
                        <use xlink:href="#tg" />
                    </svg>
                </a>
                <a class="footer__social" href="#" title="Instagram">
                    <svg aria-hidden="true">
                        <use xlink:href="#inst" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <ul class="bottom-menu">
            <li class="bottom-menu__item"><a class="bottom-menu__link" href="#">Політика конфіденційності</a></li>
            <li class="bottom-menu__item"><a class="bottom-menu__link" href="#">Політика використання файлів cookie</a></li>
            <li class="bottom-menu__item"><a class="bottom-menu__link" href="#">Угода користувача</a></li>
        </ul>
    </div>
</footer>