<header class="header">
    <div class="header__inner container">
        <div class="header__top">
            <a class="header-logo" href="#">
                <img src="images/logo.svg" alt="">
                <span class="header-logo__text-block">
                    <span class="header-logo__title">wintel tour</span>
                    <span class="header-logo__text">туристична компанія</span>
                </span>
            </a>

            <div class="header__contacts">
                <p>Київ, 01135 Україна<br> ул. Павловская, 29</p>
                <p>
                    <a href="tel:+380500644333">+38 050 06 44 333</a><br>
                    <a href="mailto:info@winteltour.com.ua">info@winteltour.com.ua</a>
                </p>
                <div class="header__socials">
                    <a class="header__social" href="#" title="Telegram">
                        <svg aria-hidden="true">
                            <use xlink:href="#tg" />
                        </svg>
                    </a>
                    <a class="header__social" href="#" title="Instagram">
                        <svg aria-hidden="true">
                            <use xlink:href="#inst" />
                        </svg>
                    </a>
                </div>
            </div>

            <button class="js-menu-opener header__burger" type="button" title="Открыть меню">
                <svg aria-hidden="true">
                    <use xlink:href="#burger"></use>
                </svg>
            </button>
        </div>
        <nav class="main-menu">
            <button class="js-menu-closer main-menu__closer" type="button" title="Закрыть меню">
                <svg aria-hidden="true">
                    <use xlink:href="#close"></use>
                </svg>
            </button>

            <div class="main-menu__personal">
                <div class="main-menu__mova">
                    <a href="#">ru</a> <span>/</span> <a class="is-active" href="#">ua</a> <span>/</span> <a href="#">en</a>
                </div>
                <a class="main-menu__personal-link" href="#" title="Личный кабинет">
                    <svg aria-hidden="true">
                        <use xlink:href="#personal"></use>
                    </svg>
                </a>
            </div>
            <ul class="main-menu__list">
                <li class="main-menu__item"><a class="main-menu__link" href="#">про нас</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">новини</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">корисна інформація</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">сплатити</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">контакти</a></li>
                <li class="main-menu__item">
                    <a class="button button--type_2" href="#">
                        <img width="38" height="33" src="images/icons/tour.png" alt="">
                        <span>підібрати тур</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>