<div class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a class="nav__link" href="#">
                <img src="images/content/nav/img_1.svg" alt="">
                <span>авіаквитки</span>
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#">
                <img src="images/content/nav/img_2.svg" alt="">
                <span>залізничні<br> квитки</span>
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#">
                <img src="images/content/nav/img_3.svg" alt="">
                <span>автобуси</span>
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#">
                <img src="images/content/nav/img_4.svg" alt="">
                <span>страхування</span>
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#">
                <img width="53" height="53" src="images/content/nav/img_5.jpg" alt="">
                <span>пакетні тури</span>
            </a>
        </li>
    </ul>
</div>