.pager {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-top: 3em;
    padding: 0;

    &__item {
        margin: 5px;
    }

    &__link {
        align-items: center;
        border-radius: 5px;
        border: 1px solid $text-color;
        display: flex;
        font-size: 14px;
        font-weight: 700;
        height: 40px;
        justify-content: center;
        min-width: 40px;
        text-decoration: none;
        transition: background-color 0.3s, border-color 0.3s;
        width: 40px;

        &.is-active,
        &:hover {
            background-color: $orange-color;
            border-color: $orange-color;
        }
    }
}