.tour-about {
    @media(min-width: $sm) {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &:not(:last-child) {
        margin-bottom: 3em;
    }

    &__left {
        margin-bottom: 20px;
        @media(min-width: $sm) {
            margin-bottom: 0;
            width: 40%;
        }
    }

    &__right {
        @media(min-width: $sm) {
            width: 55%;
        }
    }
}

.tour-dates {
    align-items: center;
    display: flex;

    img {
        height: 50px;
        min-width: 50px;
        margin-right: 20px;
        width: 50px;
    }
}

.tour-form {
    @media(min-width: $sm) {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        margin-bottom: 3em;
        @media(min-width: $sm) {
            margin-bottom: 0;
            order: 2;
            padding-top: 4.2em;
            width: 40%;
        }
        @media(min-width: $hd) {
            padding-top: 5em;
        }
    }

    &__form {
        @media(min-width: $sm) {
            order: 1;
            width: 50%;
        }
    }
}